This jupyter notebook focuses on cleaning the data from the Zillow web scrape

In [1]:
#data cleaning
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv('data_set2_no_dupes.csv')

In [63]:
df = df[df.Bathrooms != '-- baths']
df = df[df.Bathrooms != '988.5 baths']

In [64]:
df['Bathrooms'] = df['Bathrooms'].map(lambda x: x.lstrip('+-').rstrip('baths'))

In [65]:
df.Bathrooms.value_counts()

1       828
2       143
1.5      38
3        14
2.5      10
4.5       3
3.5       2
5         2
4         1
5.5       1
Name: Bathrooms, dtype: int64

In [66]:
df.reset_index()

,index,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,City,County,Cooling,Heating,Laundry,Pets,Parking
0,0,0,E 16th St,2500,3,2,Homecrest,city,Kings,Other,Forced air,In Unit,"Cats, small dogs",Off street
1,1,2,120 Wyckoff Ave # 2F,1750,1,1,Bushwick,city,Kings,No Data,No Data,No Data,Contact manager,No Data
2,2,3,333 E 102nd St APT 205,3495,2,2,East_Harlem,city,New_York,No Data,No Data,Shared,Contact manager,No Data
3,3,4,247 Mulberry St APT 3L,4250,1,1,Little_Italy,city,New_York,Other,Forced air,No Data,Contact manager,No Data
4,4,5,315 E 56th St APT 3D,3311,1,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
5,5,6,219 E 76th St APT 2A,2200,0,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
6,6,7,317 W 21st St APT 3D,2925,1,1,Chelsea,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
7,7,8,323 E 93rd St APT 1E,2850,2,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
8,8,9,78 Cornelia St APT 1,2900,2,1,Bushwick,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
9,9,10,66 Bainbridge St APT 4,2600,2,1,Bedford_Stuyvesant,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
10,10,11,271 Clarkson Ave # 217,2250,2,1,Prospect_Lefferts_Gardens,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
11,11,12,Bay 31st St,1650,2,1,Bath_Beach,city,Kings,No Data,No Data,No Data,No,No Data
12,12,13,150 E 85th St APT 11E,3395,1,1,Upper_East_Side,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
13,13,14,454 W 36th St APT 1FE,2400,2,1,Hudson_Yards,city,New_York,No Data,No Data,No Data,Cats,No Data
14,14,15,329 E 75th St APT 1D,1895,0,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
15,15,16,65 Columbia St # 20,1850,2,1,Lower_East_Side,city,New_York,Other,Forced air,Shared,Contact manager,No Data
16,16,17,418 E 84th St APT 3C,2000,0,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
17,17,18,E 96th St,2395,3,1,East_Flatbush,city,Kings,No Data,No Data,No Data,No,No Data
18,18,19,646 W End Ave # 4CG,2375,1,1,Upper_West_Side,city,New_York,No Data,No Data,No Data,Cats,No Data
19,19,20,438 E 75th St APT 2RE,2245,2,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
20,20,21,303 10th Ave # 70A,5910,3,2,Chelsea,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",No Data
21,21,22,100 Norfolk St,19800,2,2,Lower_East_Side,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",Attached Garage
22,22,23,85 Christopher St APT 2A,2595,0,1,West_Village,city,New_York,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
23,23,24,56 S Portland Ave APT 9,2600,1,1,Fort_Greene,city,Kings,No Data,No Data,No Data,No,No Data
24,24,25,W 9th St,1300,1,1,Gravesend,city,Kings,No Data,No Data,In Unit,No,Off street
25,25,26,70th St,2000,2,1,Dyker_Heights,city,Kings,No Data,No Data,No Data,No,No Data
26,26,27,921 Saint Marks Ave # 3C33,2200,2,1,Crown_Heights,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
27,27,28,940 Atlantic Ave # 2C,2950,2,1,Crown_Heights,city,Kings,No Data,No Data,Shared,Contact manager,No Data
28,28,29,252 Driggs Ave APT 2R,2299,1,1,Greenpoint,city,Kings,No Data,No Data,No Data,No,No Data
29,29,30,388 Clifton Pl # 4FF,2395,2,1,Bedford_Stuyvesant,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,1016,1065,305 Clarkson Ave APT 3B,2099,3,1,Prospect_Lefferts_Gardens,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
1013,1017,1066,157 W 57th St APT 39E,12850,1,2,Sutton_Place,city,New_York,Other,Forced air,In Unit,"Cats, large dogs, small dogs",Attached Garage
1014,1018,1067,157 W 57th St APT 44C,45000,4,4.5,Sutton_Place,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",Attached Garage
1015,1019,1068,157 W 57th St APT 56C,49000,4,4.5,Sutton_Place,city,New_York,Central,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1016,1020,1069,157 W 57th St APT 59A,77500,4,3.5,Sutton_Place,city,New_York,Other,Forced air,In Unit,"Cats, large dogs, small dogs",Attached Garage
1017,1021,1070,157 W 57th St PENTHOUSE 80,125000,4,5.5,Sutton_Place,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",No Data
1018,1022,1071,265 S 2nd St # 17DA,3275,3,1,Williamsburg,city,Kings,No Data,No Data,"In Unit, Shared","Cats, large dogs, small dogs",No Data
1019,1023,1072,265 S 2nd St APT 1,4215,4,2,Williamsburg,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1020,1024,1073,420 E 55th St APT 5K,2200,0,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
1021,1025,1074,420 E 55th St APT 4T,2450,0,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1022,1026,1075,420 E 55th St APT 2M,3250,1,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
1023,1027,1076,420 E 55th St APT 11-D,3875,1,1,Sutton_Place,city,New_York,No Data,No Data,"In Unit, Shared","Cats, large dogs, small dogs",No Data
1024,1028,1077,86 Menahan St # 2ZQP,2390,2,2,Bushwick,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1025,1029,1078,86 Menahan St # L,2399,2,2,Bushwick,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1026,1030,1079,86 Menahan St # 2RR,2399,2,2,Bushwick,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1027,1031,1080,1038 Greene Ave # 2B,2805,3,1,Bedford_Stuyvesant,city,Kings,Other,Forced air,Shared,"Cats, large dogs, small dogs",Attached Garage
1028,1032,1086,1038 Greene Ave # 2A,2805,3,1,Bedford_Stuyvesant,city,Kings,Other,Forced air,Shared,Contact manager,No Data
1029,1033,1087,1038 Greene Ave APT 1D,3469,4,1,Bedford_Stuyvesant,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
1030,1034,1088,230 E 20th St APT 22,4900,1,1,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1031,1035,1089,230 E 20th St # 52,4900,1,1,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1032,1036,1090,230 E 20th St APT 36,5200,1,1,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1033,1037,1091,230 E 20th St APT 34,7000,2,2,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1034,1038,1092,47 Thames St # 4,3150,0,1,Williamsburg,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
1035,1039,1093,47 Thames St # 306BF,3195,0,1,Williamsburg,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
1036,1040,1094,47 Thames St APT 306,3200,0,1,Williamsburg,city,Kings,No Data,No Data,No Data,Contact manager,No Data
1037,1041,1095,200 E 15th St APT 8K,2800,0,1,Gramercy,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1038,1042,1096,200 E 15th St APT 8L,2800,0,1,Gramercy,city,New_York,No Data,No Data,No Data,"Cats, large dogs, small dogs",Attached Garage
1039,1043,1097,50 Bayard St APT 3C,2285,0,1,Chinatown,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1040,1044,1098,50 Bayard St # 6,3500,2,1,Chinatown,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1041,1045,1099,50 Bayard St APT 6M,3500,2,1,Chinatown,city,New_York,Other,Forced air,No Data,"Large dogs, small dogs",Attached Garage

In [8]:
#studios are recorded as zero bedrooms, needs to be reinterpreted as 1 bedroom and also a studio
Studio = []
for i in df['Bedrooms']:
    print(i)
    if i == int(0):
        print('is studtio')
        Studio.append(int(1))
    else:
        Studio.append(int(0))

3
1
2
1
1
0
is studtio
1
2
2
2
2
2
1
2
0
is studtio
2
0
is studtio
3
1
2
3
2
0
is studtio
1
1
2
2
2
1
2
0
is studtio
1
0
is studtio
0
is studtio
1
3
1
1
2
0
is studtio
3
3
0
is studtio
1
1
1
2
1
1
3
3
3
2
3
2
3
2
1
2
2
2
4
3
3
2
1
3
3
4
2
1
3
1
2
2
0
is studtio
4
3
1
1
3
2
4
1
1
2
3
1
1
0
is studtio
1
1
0
is studtio
1
2
2
2
2
2
4
0
is studtio
2
1
2
1
1
1
2
3
2
2
1
1
2
1
2
1
3
0
is studtio
3
0
is studtio
0
is studtio
2
1
2
2
1
3
2
1
1
3
3
2
1
1
2
2
1
1
2
6
1
2
1
2
0
is studtio
1
1
3
2
2
1
1
1
1
2
1
3
1
1
2
2
1
1
1
2
3
4
1
0
is studtio
3
1
0
is studtio
3
2
2
1
1
1
2
3
0
is studtio
0
is studtio
3
2
3
1
3
2
2
3
0
is studtio
2
2
4
2
3
1
1
3
1
3
1
3
2
2
1
3
3
1
2
1
1
1
1
1
1
2
1
2
3
1
1
2
0
is studtio
0
is studtio
0
is studtio
2
1
1
3
3
3
1
1
2
3
1
1
1
0
is studtio
1
4
2
1
1
1
1
2
2
3
2
1
3
1
0
is studtio
2
1
0
is studtio
0
is studtio
4
1
1
3
1
1
1
1
2
2
0
is studtio
3
2
2
1
1
0
is studtio
3
2
1
1
2
1
2
2
1
1
2
3
3
2
2
2
2
0
is studtio
2
2
2
0
is studtio
1
1
3
2
1
1
1
4
2
3
1
3
0
is studtio
2
1
1
2
1
2
1
2
2
2
2
1
3
2
1
2
3
1
1
2
2
3
3
0
is studtio
1
2
0
is studtio
0
is studtio
2
0
is studtio
3
1
2
2
1
2
0
is studtio
3
3
1
1
3
2
1
3
1
1
2
1
2
2
1
1
1
1
1
3
4
2
2
0
is studtio
0
is studtio
0
is studtio
2
1
2
1
1
1
2
3
2
2
0
is studtio
2
2
2
2
2
1
2
2
2
2
1
1
1
0
is studtio
3
1
3
1
0
is studtio
4
4
2
0
is studtio
2
4
2
2
3
1
3
3
1
1
1
3
2
1
1
1
2
3
0
is studtio
3
3
3
2
2
0
is studtio
0
is studtio
3
2
0
is studtio
2
0
is studtio
2
2
3
0
is studtio
1
1
1
2
1
1
2
1
2
2
2
3
1
0
is studtio
1
2
2
2
1
1
1
3
4
1
2
1
2
1
3
0
is studtio
1
2
7
1
1
3
3
3
3
3
3
0
is studtio
1
0
is studtio
0
is studtio
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
2
2
3
4
2
2
1
1
1
3
1
1
1
0
is studtio
0
is studtio
0
is studtio
0
is studtio
0
is studtio
0
is studtio
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
2
0
is studtio
1
1
1
2
2
2
3
3
1
2
2
2
4
0
is studtio
1
2
2
2
2
1
1
0
is studtio
4
1
1
1
0
is studtio
0
is studtio
2
3
2
0
is studtio
0
is studtio
0
is studtio
1
1
1
2
2
2
0
is studtio
1
2
2
2
2
2
0
is studtio
1
1
1
1
1
2
2
2
4
4
4
1
1
1
0
is studtio
1
1
2
3
2
2
2
1
1
2
2
2
2
3
3
3
0
is studtio
1
1
1
1
1
2
2
2
2
3
3
0
is studtio
0
is studtio
1
2
2
4
4
4
0
is studtio
1
2
4
4
1
1
1
1
1
1
1
2
2
2
1
1
1
3
3
4
1
1
0
is studtio
0
is studtio
0
is studtio
1
3
3
4
1
1
1
1
1
2
2
2
2
2
2
1
1
2
2
3
3
3
2
2
2
2
0
is studtio
0
is studtio
1
2
2
3
2
2
2
2
2
3
0
is studtio
0
is studtio
1
1
1
3
1
1
1
1
2
0
is studtio
3
0
is studtio
0
is studtio
0
is studtio
1
1
2
2
3
3
3
3
0
is studtio
0
is studtio
0
is studtio
0
is studtio
0
is studtio
1
1
2
1
2
2
2
3
0
is studtio
0
is studtio
0
is studtio
0
is studtio
1
3
1
2
1
2
1
1
1
1
2
3
3
0
is studtio
1
1
0
is studtio
1
1
2
2
3
3
3
2
3
3
3
3
1
1
2
2
2
2
2
3
0
is studtio
1
1
1
1
1
2
0
is studtio
0
is studtio
1
1
1
1
2
2
2
1
1
0
is studtio
2
2
2
1
1
1
1
1
1
2
2
2
3
3
3
3
1
2
1
1
1
1
3
3
1
1
4
0
is studtio
1
1
2
2
2
2
3
3
1
1
1
1
1
2
3
0
is studtio
1
0
is studtio
1
1
1
1
1
1
2
2
1
1
0
is studtio
1
2
3
3
1
1
2
2
2
2
3
3
1
2
1
1
1
1
1
3
1
3
1
2
2
2
3
3
0
is studtio
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
3
0
is studtio
1
1
1
2
2
2
2
3
0
is studtio
1
2
3
3
3
3
1
1
2
2
2
2
1
1
1
2
1
2
1
1
1
2
2
2
3
3
3
3
3
0
is studtio
0
is studtio
0
is studtio
1
1
1
1
1
1
1
1
1
1
2
1
1
1
1
2
2
3
0
is studtio
1
1
0
is studtio
0
is studtio
1
2
3
3
0
is studtio
1
2
0
is studtio
2
0
is studtio
0
is studtio
0
is studtio
0
is studtio
1
1
1
1
1
1
1
1
1
4
3
3
1
4
4
4
4
3
4
0
is studtio
0
is studtio
1
1
2
2
2
3
3
4
1
1
1
2
0
is studtio
0
is studtio
0
is studtio
0
is studtio
0
is studtio
0
is studtio
2
2

In [9]:
df['Studio'] = pd.Series(Studio)

In [16]:
std = df[df.Studio == 1]

In [17]:
std.groupby(std['Bedrooms']).count()

,Unnamed: 0,Address,Rent,Bathrooms,Neighborhood,City,County,Cooling,Heating,Laundry,Pets,Parking,Studio
Bedrooms,,,,,,,,,,,,,
0,33,33,33,33,33,33,33,33,33,33,33,33,33
1,30,30,30,30,30,30,30,30,30,30,30,30,30
2,38,38,38,38,38,38,38,38,38,38,38,38,38
3,22,22,22,22,22,22,22,22,22,22,22,22,22
4,5,5,5,5,5,5,5,5,5,5,5,5,5

In [21]:
df.drop(columns = ['Studio'])

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,City,County,Cooling,Heating,Laundry,Pets,Parking
0,0,E 16th St,2500,3,2,Homecrest,city,Kings,Other,Forced air,In Unit,"Cats, small dogs",Off street
1,2,120 Wyckoff Ave # 2F,1750,1,1,Bushwick,city,Kings,No Data,No Data,No Data,Contact manager,No Data
2,3,333 E 102nd St APT 205,3495,2,2,East_Harlem,city,New_York,No Data,No Data,Shared,Contact manager,No Data
3,4,247 Mulberry St APT 3L,4250,1,1,Little_Italy,city,New_York,Other,Forced air,No Data,Contact manager,No Data
4,5,315 E 56th St APT 3D,3311,1,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
5,6,219 E 76th St APT 2A,2200,0,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
6,7,317 W 21st St APT 3D,2925,1,1,Chelsea,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
7,8,323 E 93rd St APT 1E,2850,2,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
8,9,78 Cornelia St APT 1,2900,2,1,Bushwick,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
9,10,66 Bainbridge St APT 4,2600,2,1,Bedford_Stuyvesant,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
10,11,271 Clarkson Ave # 217,2250,2,1,Prospect_Lefferts_Gardens,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
11,12,Bay 31st St,1650,2,1,Bath_Beach,city,Kings,No Data,No Data,No Data,No,No Data
12,13,150 E 85th St APT 11E,3395,1,1,Upper_East_Side,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
13,14,454 W 36th St APT 1FE,2400,2,1,Hudson_Yards,city,New_York,No Data,No Data,No Data,Cats,No Data
14,15,329 E 75th St APT 1D,1895,0,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
15,16,65 Columbia St # 20,1850,2,1,Lower_East_Side,city,New_York,Other,Forced air,Shared,Contact manager,No Data
16,17,418 E 84th St APT 3C,2000,0,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
17,18,E 96th St,2395,3,1,East_Flatbush,city,Kings,No Data,No Data,No Data,No,No Data
18,19,646 W End Ave # 4CG,2375,1,1,Upper_West_Side,city,New_York,No Data,No Data,No Data,Cats,No Data
19,20,438 E 75th St APT 2RE,2245,2,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
20,21,303 10th Ave # 70A,5910,3,2,Chelsea,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",No Data
21,22,100 Norfolk St,19800,2,2,Lower_East_Side,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",Attached Garage
22,23,85 Christopher St APT 2A,2595,0,1,West_Village,city,New_York,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
23,24,56 S Portland Ave APT 9,2600,1,1,Fort_Greene,city,Kings,No Data,No Data,No Data,No,No Data
24,25,W 9th St,1300,1,1,Gravesend,city,Kings,No Data,No Data,In Unit,No,Off street
25,26,70th St,2000,2,1,Dyker_Heights,city,Kings,No Data,No Data,No Data,No,No Data
26,27,921 Saint Marks Ave # 3C33,2200,2,1,Crown_Heights,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
27,28,940 Atlantic Ave # 2C,2950,2,1,Crown_Heights,city,Kings,No Data,No Data,Shared,Contact manager,No Data
28,29,252 Driggs Ave APT 2R,2299,1,1,Greenpoint,city,Kings,No Data,No Data,No Data,No,No Data
29,30,388 Clifton Pl # 4FF,2395,2,1,Bedford_Stuyvesant,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,1065,305 Clarkson Ave APT 3B,2099,3,1,Prospect_Lefferts_Gardens,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
1017,1066,157 W 57th St APT 39E,12850,1,2,Sutton_Place,city,New_York,Other,Forced air,In Unit,"Cats, large dogs, small dogs",Attached Garage
1018,1067,157 W 57th St APT 44C,45000,4,4.5,Sutton_Place,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",Attached Garage
1019,1068,157 W 57th St APT 56C,49000,4,4.5,Sutton_Place,city,New_York,Central,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1020,1069,157 W 57th St APT 59A,77500,4,3.5,Sutton_Place,city,New_York,Other,Forced air,In Unit,"Cats, large dogs, small dogs",Attached Garage
1021,1070,157 W 57th St PENTHOUSE 80,125000,4,5.5,Sutton_Place,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",No Data
1022,1071,265 S 2nd St # 17DA,3275,3,1,Williamsburg,city,Kings,No Data,No Data,"In Unit, Shared","Cats, large dogs, small dogs",No Data
1023,1072,265 S 2nd St APT 1,4215,4,2,Williamsburg,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1024,1073,420 E 55th St APT 5K,2200,0,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
1025,1074,420 E 55th St APT 4T,2450,0,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1026,1075,420 E 55th St APT 2M,3250,1,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
1027,1076,420 E 55th St APT 11-D,3875,1,1,Sutton_Place,city,New_York,No Data,No Data,"In Unit, Shared","Cats, large dogs, small dogs",No Data
1028,1077,86 Menahan St # 2ZQP,2390,2,2,Bushwick,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1029,1078,86 Menahan St # L,2399,2,2,Bushwick,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1030,1079,86 Menahan St # 2RR,2399,2,2,Bushwick,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1031,1080,1038 Greene Ave # 2B,2805,3,1,Bedford_Stuyvesant,city,Kings,Other,Forced air,Shared,"Cats, large dogs, small dogs",Attached Garage
1032,1086,1038 Greene Ave # 2A,2805,3,1,Bedford_Stuyvesant,city,Kings,Other,Forced air,Shared,Contact manager,No Data
1033,1087,1038 Greene Ave APT 1D,3469,4,1,Bedford_Stuyvesant,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
1034,1088,230 E 20th St APT 22,4900,1,1,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1035,1089,230 E 20th St # 52,4900,1,1,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1036,1090,230 E 20th St APT 36,5200,1,1,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1037,1091,230 E 20th St APT 34,7000,2,2,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1038,1092,47 Thames St # 4,3150,0,1,Williamsburg,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
1039,1093,47 Thames St # 306BF,3195,0,1,Williamsburg,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
1040,1094,47 Thames St APT 306,3200,0,1,Williamsburg,city,Kings,No Data,No Data,No Data,Contact manager,No Data
1041,1095,200 E 15th St APT 8K,2800,0,1,Gramercy,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1042,1096,200 E 15th St APT 8L,2800,0,1,Gramercy,city,New_York,No Data,No Data,No Data,"Cats, large dogs, small dogs",Attached Garage
1043,1097,50 Bayard St APT 3C,2285,0,1,Chinatown,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1044,1098,50 Bayard St # 6,3500,2,1,Chinatown,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1045,1099,50 Bayard St APT 6M,3500,2,1,Chinatown,city,New_York,Other,Forced air,No Data,"Large dogs, small dogs",Attached Garage

In [68]:
studio = pd.get_dummies(df['Bedrooms'])

In [29]:
type(studio)

pandas.core.frame.DataFrame

In [1]:
#this column will be a 1 if it has been labeled studio 
df['Studio'] = studio[0]

NameError: name 'studio' is not defined

In [70]:
df.head()

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,City,County,Cooling,Heating,Laundry,Pets,Parking,Studio
0,0,E 16th St,2500,3,2,Homecrest,city,Kings,Other,Forced air,In Unit,"Cats, small dogs",Off street,0
1,2,120 Wyckoff Ave # 2F,1750,1,1,Bushwick,city,Kings,No Data,No Data,No Data,Contact manager,No Data,0
2,3,333 E 102nd St APT 205,3495,2,2,East_Harlem,city,New_York,No Data,No Data,Shared,Contact manager,No Data,0
3,4,247 Mulberry St APT 3L,4250,1,1,Little_Italy,city,New_York,Other,Forced air,No Data,Contact manager,No Data,0
4,5,315 E 56th St APT 3D,3311,1,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0

In [33]:
std = df[df.Studio == 1]

In [34]:
std.groupby(std['Bedrooms']).count()

,Unnamed: 0,Address,Rent,Bathrooms,Neighborhood,City,County,Cooling,Heating,Laundry,Pets,Parking,Studio
Bedrooms,,,,,,,,,,,,,
0,131,131,131,131,131,131,131,131,131,131,131,131,131

In [71]:
city = pd.get_dummies(df['County'])

In [155]:
city

      Kings  New_York
0         1         0
1         1         0
2         0         1
3         0         1
4         0         1
5         0         1
6         0         1
7         0         1
8         1         0
9         1         0
10        1         0
11        1         0
12        0         1
13        0         1
14        0         1
15        0         1
16        0         1
17        1         0
18        0         1
19        0         1
20        0         1
21        0         1
22        0         1
23        1         0
24        1         0
25        1         0
26        1         0
27        1         0
28        1         0
29        1         0
...     ...       ...
1016      1         0
1017      0         1
1018      0         1
1019      0         1
1020      0         1
1021      0         1
1022      1         0
1023      1         0
1024      0         1
1025      0         1
1026      0         1
1027      0         1
1028      1         0
1029      1         0
1030      1         0
1031      1         0
1032      1         0
1033      1         0
1034      0         1
1035      0         1
1036      0         1
1037      0         1
1038      1         0
1039      1         0
1040      1         0
1041      0         1
1042      0         1
1043      0         1
1044      0         1
1045      0         1

[1042 rows x 2 columns]

In [72]:
df['NYC'] = city['New_York']

In [73]:
df.head()

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,City,County,Cooling,Heating,Laundry,Pets,Parking,Studio,NYC
0,0,E 16th St,2500,3,2,Homecrest,city,Kings,Other,Forced air,In Unit,"Cats, small dogs",Off street,0,0
1,2,120 Wyckoff Ave # 2F,1750,1,1,Bushwick,city,Kings,No Data,No Data,No Data,Contact manager,No Data,0,0
2,3,333 E 102nd St APT 205,3495,2,2,East_Harlem,city,New_York,No Data,No Data,Shared,Contact manager,No Data,0,1
3,4,247 Mulberry St APT 3L,4250,1,1,Little_Italy,city,New_York,Other,Forced air,No Data,Contact manager,No Data,0,1
4,5,315 E 56th St APT 3D,3311,1,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,1

In [82]:
nyc = df[df['NYC'] == 1]

In [83]:
nyc.groupby(nyc['County']).count()

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,Cooling,Heating,Laundry,Pets,Parking,Studio,NYC
County,,,,,,,,,,,,,
New_York,535,535,535,535,535,535,535,535,535,535,535,535,535

In [76]:
df = df.drop(columns = ['City'])

In [81]:
df.groupby(df['County']).count()

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,Cooling,Heating,Laundry,Pets,Parking,Studio,NYC
County,,,,,,,,,,,,,
Kings,507,507,507,507,507,507,507,507,507,507,507,507,507
New_York,535,535,535,535,535,535,535,535,535,535,535,535,535

In [79]:
df

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,County,Cooling,Heating,Laundry,Pets,Parking,Studio,NYC
0,0,E 16th St,2500,3,2,Homecrest,Kings,Other,Forced air,In Unit,"Cats, small dogs",Off street,0,0
1,2,120 Wyckoff Ave # 2F,1750,1,1,Bushwick,Kings,No Data,No Data,No Data,Contact manager,No Data,0,0
2,3,333 E 102nd St APT 205,3495,2,2,East_Harlem,New_York,No Data,No Data,Shared,Contact manager,No Data,0,1
3,4,247 Mulberry St APT 3L,4250,1,1,Little_Italy,New_York,Other,Forced air,No Data,Contact manager,No Data,0,1
4,5,315 E 56th St APT 3D,3311,1,1,Sutton_Place,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,1
5,6,219 E 76th St APT 2A,2200,0,1,Upper_East_Side,New_York,No Data,No Data,No Data,Contact manager,No Data,1,1
6,7,317 W 21st St APT 3D,2925,1,1,Chelsea,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,1
7,8,323 E 93rd St APT 1E,2850,2,1,Upper_East_Side,New_York,No Data,No Data,No Data,Contact manager,No Data,0,1
8,9,78 Cornelia St APT 1,2900,2,1,Bushwick,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data,0,0
9,10,66 Bainbridge St APT 4,2600,2,1,Bedford_Stuyvesant,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,0
10,11,271 Clarkson Ave # 217,2250,2,1,Prospect_Lefferts_Gardens,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage,0,0
11,12,Bay 31st St,1650,2,1,Bath_Beach,Kings,No Data,No Data,No Data,No,No Data,0,0
12,13,150 E 85th St APT 11E,3395,1,1,Upper_East_Side,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,1
13,14,454 W 36th St APT 1FE,2400,2,1,Hudson_Yards,New_York,No Data,No Data,No Data,Cats,No Data,0,1
14,15,329 E 75th St APT 1D,1895,0,1,Upper_East_Side,New_York,No Data,No Data,No Data,Contact manager,No Data,1,1
15,16,65 Columbia St # 20,1850,2,1,Lower_East_Side,New_York,Other,Forced air,Shared,Contact manager,No Data,0,1
16,17,418 E 84th St APT 3C,2000,0,1,Upper_East_Side,New_York,No Data,No Data,No Data,Contact manager,No Data,1,1
17,18,E 96th St,2395,3,1,East_Flatbush,Kings,No Data,No Data,No Data,No,No Data,0,0
18,19,646 W End Ave # 4CG,2375,1,1,Upper_West_Side,New_York,No Data,No Data,No Data,Cats,No Data,0,1
19,20,438 E 75th St APT 2RE,2245,2,1,Upper_East_Side,New_York,No Data,No Data,No Data,Contact manager,No Data,0,1
20,21,303 10th Ave # 70A,5910,3,2,Chelsea,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",No Data,0,1
21,22,100 Norfolk St,19800,2,2,Lower_East_Side,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",Attached Garage,0,1
22,23,85 Christopher St APT 2A,2595,0,1,West_Village,New_York,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data,1,1
23,24,56 S Portland Ave APT 9,2600,1,1,Fort_Greene,Kings,No Data,No Data,No Data,No,No Data,0,0
24,25,W 9th St,1300,1,1,Gravesend,Kings,No Data,No Data,In Unit,No,Off street,0,0
25,26,70th St,2000,2,1,Dyker_Heights,Kings,No Data,No Data,No Data,No,No Data,0,0
26,27,921 Saint Marks Ave # 3C33,2200,2,1,Crown_Heights,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data,0,0
27,28,940 Atlantic Ave # 2C,2950,2,1,Crown_Heights,Kings,No Data,No Data,Shared,Contact manager,No Data,0,0
28,29,252 Driggs Ave APT 2R,2299,1,1,Greenpoint,Kings,No Data,No Data,No Data,No,No Data,0,0
29,30,388 Clifton Pl # 4FF,2395,2,1,Bedford_Stuyvesant,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,1065,305 Clarkson Ave APT 3B,2099,3,1,Prospect_Lefferts_Gardens,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data,0,0
1017,1066,157 W 57th St APT 39E,12850,1,2,Sutton_Place,New_York,Other,Forced air,In Unit,"Cats, large dogs, small dogs",Attached Garage,0,1
1018,1067,157 W 57th St APT 44C,45000,4,4.5,Sutton_Place,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",Attached Garage,0,1
1019,1068,157 W 57th St APT 56C,49000,4,4.5,Sutton_Place,New_York,Central,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage,0,1
1020,1069,157 W 57th St APT 59A,77500,4,3.5,Sutton_Place,New_York,Other,Forced air,In Unit,"Cats, large dogs, small dogs",Attached Garage,0,1
1021,1070,157 W 57th St PENTHOUSE 80,125000,4,5.5,Sutton_Place,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",No Data,0,1
1022,1071,265 S 2nd St # 17DA,3275,3,1,Williamsburg,Kings,No Data,No Data,"In Unit, Shared","Cats, large dogs, small dogs",No Data,0,0
1023,1072,265 S 2nd St APT 1,4215,4,2,Williamsburg,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,0
1024,1073,420 E 55th St APT 5K,2200,0,1,Sutton_Place,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage,1,1
1025,1074,420 E 55th St APT 4T,2450,0,1,Sutton_Place,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data,1,1
1026,1075,420 E 55th St APT 2M,3250,1,1,Sutton_Place,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage,0,1
1027,1076,420 E 55th St APT 11-D,3875,1,1,Sutton_Place,New_York,No Data,No Data,"In Unit, Shared","Cats, large dogs, small dogs",No Data,0,1
1028,1077,86 Menahan St # 2ZQP,2390,2,2,Bushwick,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,0
1029,1078,86 Menahan St # L,2399,2,2,Bushwick,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,0
1030,1079,86 Menahan St # 2RR,2399,2,2,Bushwick,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,0
1031,1080,1038 Greene Ave # 2B,2805,3,1,Bedford_Stuyvesant,Kings,Other,Forced air,Shared,"Cats, large dogs, small dogs",Attached Garage,0,0
1032,1086,1038 Greene Ave # 2A,2805,3,1,Bedford_Stuyvesant,Kings,Other,Forced air,Shared,Contact manager,No Data,0,0
1033,1087,1038 Greene Ave APT 1D,3469,4,1,Bedford_Stuyvesant,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage,0,0
1034,1088,230 E 20th St APT 22,4900,1,1,Gramercy,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage,0,1
1035,1089,230 E 20th St # 52,4900,1,1,Gramercy,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage,0,1
1036,1090,230 E 20th St APT 36,5200,1,1,Gramercy,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage,0,1
1037,1091,230 E 20th St APT 34,7000,2,2,Gramercy,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage,0,1
1038,1092,47 Thames St # 4,3150,0,1,Williamsburg,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data,1,0
1039,1093,47 Thames St # 306BF,3195,0,1,Williamsburg,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data,1,0
1040,1094,47 Thames St APT 306,3200,0,1,Williamsburg,Kings,No Data,No Data,No Data,Contact manager,No Data,1,0
1041,1095,200 E 15th St APT 8K,2800,0,1,Gramercy,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data,1,1
1042,1096,200 E 15th St APT 8L,2800,0,1,Gramercy,New_York,No Data,No Data,No Data,"Cats, large dogs, small dogs",Attached Garage,1,1
1043,1097,50 Bayard St APT 3C,2285,0,1,Chinatown,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data,1,1
1044,1098,50 Bayard St # 6,3500,2,1,Chinatown,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data,0,1
1045,1099,50 Bayard St APT 6M,3500,2,1,Chinatown,New_York,Other,Forced air,No Data,"Large dogs, small dogs",Attached Garage,0,1

In [59]:
#df = pd.Series(df.Cooling).str.replace('Other', 'Yes', regex=False)

In [67]:
df

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,City,County,Cooling,Heating,Laundry,Pets,Parking
0,0,E 16th St,2500,3,2,Homecrest,city,Kings,Other,Forced air,In Unit,"Cats, small dogs",Off street
1,2,120 Wyckoff Ave # 2F,1750,1,1,Bushwick,city,Kings,No Data,No Data,No Data,Contact manager,No Data
2,3,333 E 102nd St APT 205,3495,2,2,East_Harlem,city,New_York,No Data,No Data,Shared,Contact manager,No Data
3,4,247 Mulberry St APT 3L,4250,1,1,Little_Italy,city,New_York,Other,Forced air,No Data,Contact manager,No Data
4,5,315 E 56th St APT 3D,3311,1,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
5,6,219 E 76th St APT 2A,2200,0,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
6,7,317 W 21st St APT 3D,2925,1,1,Chelsea,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
7,8,323 E 93rd St APT 1E,2850,2,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
8,9,78 Cornelia St APT 1,2900,2,1,Bushwick,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
9,10,66 Bainbridge St APT 4,2600,2,1,Bedford_Stuyvesant,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
10,11,271 Clarkson Ave # 217,2250,2,1,Prospect_Lefferts_Gardens,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
11,12,Bay 31st St,1650,2,1,Bath_Beach,city,Kings,No Data,No Data,No Data,No,No Data
12,13,150 E 85th St APT 11E,3395,1,1,Upper_East_Side,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
13,14,454 W 36th St APT 1FE,2400,2,1,Hudson_Yards,city,New_York,No Data,No Data,No Data,Cats,No Data
14,15,329 E 75th St APT 1D,1895,0,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
15,16,65 Columbia St # 20,1850,2,1,Lower_East_Side,city,New_York,Other,Forced air,Shared,Contact manager,No Data
16,17,418 E 84th St APT 3C,2000,0,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
17,18,E 96th St,2395,3,1,East_Flatbush,city,Kings,No Data,No Data,No Data,No,No Data
18,19,646 W End Ave # 4CG,2375,1,1,Upper_West_Side,city,New_York,No Data,No Data,No Data,Cats,No Data
19,20,438 E 75th St APT 2RE,2245,2,1,Upper_East_Side,city,New_York,No Data,No Data,No Data,Contact manager,No Data
20,21,303 10th Ave # 70A,5910,3,2,Chelsea,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",No Data
21,22,100 Norfolk St,19800,2,2,Lower_East_Side,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",Attached Garage
22,23,85 Christopher St APT 2A,2595,0,1,West_Village,city,New_York,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
23,24,56 S Portland Ave APT 9,2600,1,1,Fort_Greene,city,Kings,No Data,No Data,No Data,No,No Data
24,25,W 9th St,1300,1,1,Gravesend,city,Kings,No Data,No Data,In Unit,No,Off street
25,26,70th St,2000,2,1,Dyker_Heights,city,Kings,No Data,No Data,No Data,No,No Data
26,27,921 Saint Marks Ave # 3C33,2200,2,1,Crown_Heights,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
27,28,940 Atlantic Ave # 2C,2950,2,1,Crown_Heights,city,Kings,No Data,No Data,Shared,Contact manager,No Data
28,29,252 Driggs Ave APT 2R,2299,1,1,Greenpoint,city,Kings,No Data,No Data,No Data,No,No Data
29,30,388 Clifton Pl # 4FF,2395,2,1,Bedford_Stuyvesant,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,1065,305 Clarkson Ave APT 3B,2099,3,1,Prospect_Lefferts_Gardens,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
1017,1066,157 W 57th St APT 39E,12850,1,2,Sutton_Place,city,New_York,Other,Forced air,In Unit,"Cats, large dogs, small dogs",Attached Garage
1018,1067,157 W 57th St APT 44C,45000,4,4.5,Sutton_Place,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",Attached Garage
1019,1068,157 W 57th St APT 56C,49000,4,4.5,Sutton_Place,city,New_York,Central,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1020,1069,157 W 57th St APT 59A,77500,4,3.5,Sutton_Place,city,New_York,Other,Forced air,In Unit,"Cats, large dogs, small dogs",Attached Garage
1021,1070,157 W 57th St PENTHOUSE 80,125000,4,5.5,Sutton_Place,city,New_York,Other,Forced air,"In Unit, Shared","Cats, large dogs, small dogs",No Data
1022,1071,265 S 2nd St # 17DA,3275,3,1,Williamsburg,city,Kings,No Data,No Data,"In Unit, Shared","Cats, large dogs, small dogs",No Data
1023,1072,265 S 2nd St APT 1,4215,4,2,Williamsburg,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1024,1073,420 E 55th St APT 5K,2200,0,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
1025,1074,420 E 55th St APT 4T,2450,0,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1026,1075,420 E 55th St APT 2M,3250,1,1,Sutton_Place,city,New_York,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
1027,1076,420 E 55th St APT 11-D,3875,1,1,Sutton_Place,city,New_York,No Data,No Data,"In Unit, Shared","Cats, large dogs, small dogs",No Data
1028,1077,86 Menahan St # 2ZQP,2390,2,2,Bushwick,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1029,1078,86 Menahan St # L,2399,2,2,Bushwick,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1030,1079,86 Menahan St # 2RR,2399,2,2,Bushwick,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",No Data
1031,1080,1038 Greene Ave # 2B,2805,3,1,Bedford_Stuyvesant,city,Kings,Other,Forced air,Shared,"Cats, large dogs, small dogs",Attached Garage
1032,1086,1038 Greene Ave # 2A,2805,3,1,Bedford_Stuyvesant,city,Kings,Other,Forced air,Shared,Contact manager,No Data
1033,1087,1038 Greene Ave APT 1D,3469,4,1,Bedford_Stuyvesant,city,Kings,No Data,No Data,Shared,"Cats, large dogs, small dogs",Attached Garage
1034,1088,230 E 20th St APT 22,4900,1,1,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1035,1089,230 E 20th St # 52,4900,1,1,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1036,1090,230 E 20th St APT 36,5200,1,1,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1037,1091,230 E 20th St APT 34,7000,2,2,Gramercy,city,New_York,No Data,No Data,In Unit,"Cats, large dogs, small dogs",Attached Garage
1038,1092,47 Thames St # 4,3150,0,1,Williamsburg,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
1039,1093,47 Thames St # 306BF,3195,0,1,Williamsburg,city,Kings,No Data,No Data,No Data,"Cats, large dogs, small dogs",No Data
1040,1094,47 Thames St APT 306,3200,0,1,Williamsburg,city,Kings,No Data,No Data,No Data,Contact manager,No Data
1041,1095,200 E 15th St APT 8K,2800,0,1,Gramercy,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1042,1096,200 E 15th St APT 8L,2800,0,1,Gramercy,city,New_York,No Data,No Data,No Data,"Cats, large dogs, small dogs",Attached Garage
1043,1097,50 Bayard St APT 3C,2285,0,1,Chinatown,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1044,1098,50 Bayard St # 6,3500,2,1,Chinatown,city,New_York,No Data,No Data,Shared,"Large dogs, small dogs",No Data
1045,1099,50 Bayard St APT 6M,3500,2,1,Chinatown,city,New_York,Other,Forced air,No Data,"Large dogs, small dogs",Attached Garage

In [84]:
df['Cooling'].replace('Other', 'Yes', inplace=True)

In [85]:
df.Cooling.value_counts()

No Data           746
Yes               264
Central            26
Wall                5
Central, Other      1
Name: Cooling, dtype: int64

In [86]:
df['Cooling'].replace('Central', 'Yes', inplace=True)

In [87]:
df['Cooling'].replace('Wall', 'Yes', inplace=True)

In [88]:
df['Cooling'].replace('Central, Other', 'Yes', inplace=True)

In [89]:
df.Cooling.value_counts()

No Data    746
Yes        296
Name: Cooling, dtype: int64

In [90]:
cooling = pd.get_dummies(df['Cooling'])

In [91]:
cooling.head()

   No Data  Yes
0        0    1
1        1    0
2        1    0
3        0    1
4        1    0

In [92]:
df['Cooling'] = cooling['Yes']

In [93]:
df.head()

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,County,Cooling,Heating,Laundry,Pets,Parking,Studio,NYC
0,0,E 16th St,2500,3,2,Homecrest,Kings,1,Forced air,In Unit,"Cats, small dogs",Off street,0,0
1,2,120 Wyckoff Ave # 2F,1750,1,1,Bushwick,Kings,0,No Data,No Data,Contact manager,No Data,0,0
2,3,333 E 102nd St APT 205,3495,2,2,East_Harlem,New_York,0,No Data,Shared,Contact manager,No Data,0,1
3,4,247 Mulberry St APT 3L,4250,1,1,Little_Italy,New_York,1,Forced air,No Data,Contact manager,No Data,0,1
4,5,315 E 56th St APT 3D,3311,1,1,Sutton_Place,New_York,0,No Data,Shared,"Cats, large dogs, small dogs",No Data,0,1

In [96]:
df.Cooling.value_counts()

0    746
1    296
Name: Cooling, dtype: int64

In [95]:
df.Heating.value_counts()

No Data       769
Forced air    271
Baseboard       1
Radiant         1
Name: Heating, dtype: int64

In [97]:
df['Heating'].replace('Forced air', 'Yes', inplace=True)

In [98]:
df['Heating'].replace('Baseboard', 'Yes', inplace=True)

In [99]:
df['Heating'].replace('Radiant', 'Yes', inplace=True)

In [100]:
df.Heating.value_counts()

No Data    769
Yes        273
Name: Heating, dtype: int64

In [101]:
heating = pd.get_dummies(df['Heating'])

In [102]:
df['Heating'] = heating['Yes']

In [103]:
df.Heating.value_counts()

0    769
1    273
Name: Heating, dtype: int64

In [104]:
df.head()

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,County,Cooling,Heating,Laundry,Pets,Parking,Studio,NYC
0,0,E 16th St,2500,3,2,Homecrest,Kings,1,1,In Unit,"Cats, small dogs",Off street,0,0
1,2,120 Wyckoff Ave # 2F,1750,1,1,Bushwick,Kings,0,0,No Data,Contact manager,No Data,0,0
2,3,333 E 102nd St APT 205,3495,2,2,East_Harlem,New_York,0,0,Shared,Contact manager,No Data,0,1
3,4,247 Mulberry St APT 3L,4250,1,1,Little_Italy,New_York,1,1,No Data,Contact manager,No Data,0,1
4,5,315 E 56th St APT 3D,3311,1,1,Sutton_Place,New_York,0,0,Shared,"Cats, large dogs, small dogs",No Data,0,1

In [105]:
df.Laundry.value_counts()

Shared             393
No Data            379
In Unit            148
In Unit, Shared    121
None                 1
Name: Laundry, dtype: int64

In [106]:
df['Laundry'].replace('Shared', 'Yes', inplace=True)

In [107]:
df['Laundry'].replace('In Unit', 'Yes', inplace=True)

In [108]:
df['Laundry'].replace('In Unit, Shared', 'Yes', inplace=True)

In [109]:
df['Laundry'].replace('None', 'No Data', inplace=True)

In [110]:
df.Laundry.value_counts()

Yes        662
No Data    380
Name: Laundry, dtype: int64

In [111]:
laundry = pd.get_dummies(df['Laundry'])
df['Laundry'] = laundry['Yes']

In [112]:
df.Laundry.value_counts()

1    662
0    380
Name: Laundry, dtype: int64

In [113]:
df.Pets.value_counts()

Cats, large dogs, small dogs    574
Contact manager                 252
No                              100
Large dogs, small dogs           63
Cats                             41
Cats, small dogs                 11
Small dogs                        1
Name: Pets, dtype: int64

In [114]:
df['Pets'].replace('Cats, large dogs, small dogs', 'Yes', inplace=True)

In [115]:
df['Pets'].replace('Contact manager', 'Yes', inplace=True)

In [116]:
df['Pets'].replace('Large dogs, small dogs', 'Yes', inplace=True)

In [117]:
df['Pets'].replace('Cats', 'Yes', inplace=True)

In [118]:
df['Pets'].replace('Cats, small dogs', 'Yes', inplace=True)

In [119]:
df['Pets'].replace('Small dogs', 'Yes', inplace=True)

In [120]:
df.Pets.value_counts()

Yes    942
No     100
Name: Pets, dtype: int64

In [134]:
pets = pd.get_dummies(df['Pets'])
df['Pets'] = pets['Yes']

In [121]:
df.Parking.value_counts()

No Data                             749
Attached Garage                     218
Attached Garage, Detached Garage     40
Off street                           11
None                                  9
On street                             8
1 space                               3
Off street, Attached Garage           2
Detached Garage                       1
Off street, On street                 1
Name: Parking, dtype: int64

In [122]:
df['Parking'].replace('Attached Garage', 'Yes', inplace=True)

In [123]:
df['Parking'].replace('Attached Garage, Detached Garage', 'Yes', inplace=True)

In [124]:
df['Parking'].replace('Off street', 'No', inplace=True)

In [125]:
df['Parking'].replace('None', 'No', inplace=True)

In [126]:
df['Parking'].replace('On street', 'No', inplace=True)

In [127]:
df['Parking'].replace('1 space', 'Yes', inplace=True)

In [128]:
df['Parking'].replace('Off street, Attached Garage', 'Yes', inplace=True)

In [129]:
df['Parking'].replace('Detached Garage', 'Yes', inplace=True)

In [130]:
df['Parking'].replace('Off street, On street', 'No', inplace=True)

In [131]:
df['Parking'].replace('No Data', 'No', inplace=True)

In [132]:
df.Parking.value_counts()

No     778
Yes    264
Name: Parking, dtype: int64

In [135]:
parking = pd.get_dummies(df['Parking'])
df['Parking'] = parking['Yes']

In [136]:
df.to_csv('CLEAN_1.0.csv')

In [140]:
#need to create neighborhood as dummy variables
neighborhood = pd.get_dummies(df['Neighborhood'])

In [141]:
len(df)

1042

In [142]:
neighborhood.head()

,Bath_Beach,Battery_Park,Bay_Ridge,Bedford_Stuyvesant,Bensonhurst,Boerum_Hill,Borough_Park,Brighton_Beach,Brooklyn_Heights,Brownsville,...,Sutton_Place,Tribeca,Tudor_City,Turtle_Bay,Upper_East_Side,Upper_West_Side,West_Village,Williamsburg,Windsor_Terrace,Wingate
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [145]:
neighborhood.drop(columns = ['Bath_Beach'], inplace=True)

In [146]:
neighborhood.head()

,Battery_Park,Bay_Ridge,Bedford_Stuyvesant,Bensonhurst,Boerum_Hill,Borough_Park,Brighton_Beach,Brooklyn_Heights,Brownsville,Bushwick,...,Sutton_Place,Tribeca,Tudor_City,Turtle_Bay,Upper_East_Side,Upper_West_Side,West_Village,Williamsburg,Windsor_Terrace,Wingate
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [148]:
#add neighborhood df to original df
full = pd.concat([df, neighborhood], axis=1, sort=False)

In [149]:
full.head()

,Unnamed: 0,Address,Rent,Bedrooms,Bathrooms,Neighborhood,County,Cooling,Heating,Laundry,...,Sutton_Place,Tribeca,Tudor_City,Turtle_Bay,Upper_East_Side,Upper_West_Side,West_Village,Williamsburg,Windsor_Terrace,Wingate
0,0,E 16th St,2500,3,2,Homecrest,Kings,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,120 Wyckoff Ave # 2F,1750,1,1,Bushwick,Kings,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,333 E 102nd St APT 205,3495,2,2,East_Harlem,New_York,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,247 Mulberry St APT 3L,4250,1,1,Little_Italy,New_York,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,315 E 56th St APT 3D,3311,1,1,Sutton_Place,New_York,0,0,1,...,1,0,0,0,0,0,0,0,0,0

In [150]:
len(full)

1042

In [153]:
len(full['Bay_Ridge'])

1042

In [154]:
full.to_csv('CLEAN_1.1.csv')